<?xml version="1.0"?>
<appSettings>
    <add key="ida:AppID" value="bb6a795f-dad1-4ade-940e-e280f748b693" />
    <add key="ida:AppSecret" value="XYz8Q~cAWLIsHO7C41vQbAuiukIBFH44hpjDGbWr" />
    <add key="ida:RedirectUri" value="https://localhost:44375/" />
    <add key="ida:AppScopes" value="Team.ReadBasic.All Files.Read.All Sites.Read.All Chat.Read User.Read Calendars.Read" />
</appSettings>
