<?xml version="1.0"?>
<appSettings>
    <add key="ida:AppID" value="*************************" />
    <add key="ida:AppSecret" value="************************" />
    <add key="ida:RedirectUri" value="https://localhost:44375/" />
    <add key="ida:AppScopes" value="Team.ReadBasic.All Files.Read.All Sites.Read.All Chat.Read User.Read Calendars.Read" />
</appSettings>
